This Notebook is a script that takes the csv datasets and load it into 
the MYSQL workbench realtions fot a database calles shoppingcart

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
DB_PASSWORD = ''
DB_NAME = 'adb_opt'
engine = create_engine(f'mysql+pymysql://root:{DB_PASSWORD}@localhost:3306/{DB_NAME}')
connection = engine.connect()

In [3]:
customer_df = pd.read_csv('./DataSets/customer.csv')
customer_df.head()

   ID governorate  age                  name  gender
0   1        Giza   52            Todd Oneal       0
1   2       Sohag   74  Mrs. Courtney Martin       0
2   3      Fayoum   57            John Stone       1
3   4   Qaliubiya   30      Jennifer Farrell       1
4   5     Matrouh   60           Daniel Hall       1

In [4]:
len(customer_df)

1000000

In [5]:
products_df = pd.read_csv("./DataSets/products.csv")

In [10]:
orders_uncomplete_df = pd.read_csv("./DataSets/orders.csv")

In [7]:
suppliers_df = pd.read_csv("./DataSets/suppliers.csv")

In [8]:
order_items_df = pd.read_csv("./DataSets/order_items.csv")

In [9]:
ratings_df = pd.read_csv("./DataSets/ratings.csv")

In [11]:
# Calculate the total price of an order
# Merge the product table with the order_item table
order_item_product = order_items_df.merge(products_df, right_on='ID', left_on='product_id', how='left')[['order_id', 'quantity', 'price']]
# Mulitply the price of the product with its quantity
order_item_product['order_time_price'] = order_item_product['price']*order_item_product['quantity']
# Sum the order-item's prices of the same order together 
order_item_product = order_item_product.groupby(['order_id']).agg({'order_time_price':'sum'}).rename(columns={'order_time_price':'total_price'}).reset_index()
orders_df = orders_uncomplete_df.merge(order_item_product, right_on='order_id', left_on='ID', how='outer').drop(['order_id'], axis=1)
# Set zero price for Orders with no order-items
orders_df['total_price'] = orders_df['total_price'].fillna(0)
orders_df.head()

       ID  customer_id        date  hour  total_price
0  619851       884894  2016-04-26    11      15891.0
1  169454       155132  2019-09-17     0     246090.0
2  469854       645038  2016-08-26     2      55286.0
3  184225       398337  2018-11-08    23     135520.0
4  176313       181094  2013-11-01    17          0.0

In [ ]:
customer_df.to_sql('customers', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'governorate': 'Enum("Alexandria", "Aswan", "Asyut", "Beheira", "Beni Suef", "Cairo", "Dakahlia", "Damietta", "Faiyum", "Gharbia", "Giza", "Ismailia", "Kafr El Sheikh", "Luxor", "Matruh", "Minya", "Monufia", "New Valley", "North Sinai", "Port Said", "Qalyubia", "Qena", "Red Sea", "Sharqia", "Sohag", "South Sinai", "Suez")',
    'age': 'TINYINT',
    'name': 'VARCHAR(100)',
    'gender': 'BOOLEAN'
})
products_df.to_sql('products', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'product_name': 'VARCHAR(100)',
    'price': 'Float',
    'category': 'Integer',
    'supplier_id':'Integer'
    })
orders_df.to_sql('orders', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'customer_id': 'Integer',
    'ordered_at': 'DATETIME', # concat date and time
    'total_price': 'Float'  # sum of all order_item price in order
})
suppliers_df.to_sql('suppliers', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'name': 'VARCHAR(100)' # need to specify that it is unique
})
order_items_df.to_sql('order_items', con=connection, if_exists='replace',index=False, method='multi', dtype={
    'order_id': 'Integer',
    'product_id': 'Integer',
    'quantity': 'TINYINT' # tiny int holds uptill 255 which is enough for a quantity 
})
ratings_df.to_sql('ratings', con=connection, if_exists='replace',index=False, method='multi', dtype={
    'product_id' : 'Integer',
    'customer_id' : 'Integer',
    'rating' : 'TINYINT' # holds uptill 0-255
                         # I am not sure would this work or not
})

In [ ]:
# adding the foreign keys
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (order_id) REFERENCES orders(ID);")
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (product_id) REFERENCES products(ID);")
connection.execute("ALTER TABLE products ADD FOREIGN KEY (supplier_id) REFERENCES suppliers(ID);")
connection.execute("ALTER TABLE orders ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (product_id) REFERENCES products(ID);")

# adding th primary keys
connection.execute("ALTER TABLE customers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE products ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE orders ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE suppliers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE order_items ADD PRIMARY KEY (order_id, product_id);")
connection.execute("ALTER TABLE ratings ADD PRIMARY KEY (customer_id, product_id);")


# adding unique constraints
connection.execute("ALTER TABLE products ADD UNIQUE (product_name);")
connection.execute("ALTER TABLE suppliers ADD UNIQUE (name);")

# closing the connection
connection.close()