This Notebook is a script that takes the csv datasets and load it into 
the MYSQL workbench realtions fot a database calles shoppingcart

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://root:cmp2023@localhost:3306/shoppingcart')
connection = engine.connect()

In [12]:
customer_df = pd.read_csv('./DataSets/customer.csv')
customer_df.head()

   ID governorate  age                  name  gender
0   1        Giza   52            Todd Oneal       0
1   2       Sohag   74  Mrs. Courtney Martin       0
2   3      Fayoum   57            John Stone       1
3   4   Qaliubiya   30      Jennifer Farrell       1
4   5     Matrouh   60           Daniel Hall       1

In [13]:
len(customer_df)

1000000

In [14]:
customer_df.to_sql('customers', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'governorate': 'Enum("Alexandria", "Aswan", "Asyut", "Beheira", "Beni Suef", "Cairo", "Dakahlia", "Damietta", "Faiyum", "Gharbia", "Giza", "Ismailia", "Kafr El Sheikh", "Luxor", "Matruh", "Minya", "Monufia", "New Valley", "North Sinai", "Port Said", "Qalyubia", "Qena", "Red Sea", "Sharqia", "Sohag", "South Sinai", "Suez")',
    'age': 'TINYINT',
    'name': 'VARCHAR(100)',
    'gender': 'BOOLEAN'
})

1000000

In [18]:
products_df = pd.read_csv("./DataSets/products.csv")
products_df.to_sql('products', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'product_name': 'VARCHAR(100)',
    'price': 'Float',
    'category': 'Integer',
    'supplier_id':'Integer'
    })

1000000

In [17]:
orders_df = pd.read_csv("./DataSets/orders.csv")
orders_df.to_sql('orders', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'customer_id': 'Integer',
    'ordered_at': 'DATETIME', # concat date and time
    'total_price': 'Float'  # sum of all order_item price in order
})

1000000

In [19]:
suppliers_df = pd.read_csv("./DataSets/suppliers.csv")
suppliers_df.to_sql('suppliers', con=connection, if_exists='replace',index=False, method='multi',dtype={
    'ID': 'Integer',
    'name': 'VARCHAR(100)' # need to specify that it is unique
})

10000

In [20]:
order_items_df = pd.read_csv("./DataSets/order_items.csv")
order_items_df.to_sql('order_items', con=connection, if_exists='replace',index=False, method='multi', dtype={
    'order_id': 'Integer',
    'product_id': 'Integer',
    'quantity': 'TINYINT' # tiny int holds uptill 255 which is enough for a quantity 
})

1000000

In [22]:
ratings_df = pd.read_csv("./DataSets/ratings.csv")
ratings_df.to_sql('ratings', con=connection, if_exists='replace',index=False, method='multi', dtype={
    'product_id' : 'Integer',
    'customer_id' : 'Integer',
    'rating' : 'TINYINT' # holds uptill 0-255
                         # I am not sure would this work or not
})

1000000

In [ ]:
# adding the foreign keys
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (order_id) REFERENCES orders(ID);")
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (product_id) REFERENCES products(ID);")
connection.execute("ALTER TABLE products ADD FOREIGN KEY (supplier_id) REFERENCES suppliers(ID);")
connection.execute("ALTER TABLE orders ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (product_id) REFERENCES products(ID);")

# adding th primary keys
connection.execute("ALTER TABLE customers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE products ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE orders ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE suppliers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE order_items ADD PRIMARY KEY (order_id, product_id);")
connection.execute("ALTER TABLE ratings ADD PRIMARY KEY (customer_id, product_id);")


# adding unique constraints
connection.execute("ALTER TABLE products ADD UNIQUE (product_name);")
connection.execute("ALTER TABLE suppliers ADD UNIQUE (name);")

# closing the connection
connection.close()