This Notebook is a script that takes the csv datasets and load it into 
the MYSQL workbench realtions fot a database calles shoppingcart

In [17]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

In [6]:
DB_PASSWORD = ''
DB_NAME = 'adb_opt_100000'
input_folder = 'data_100000'
engine = create_engine(f'mysql+pymysql://root:{DB_PASSWORD}@localhost:3306/{DB_NAME}')
connection = engine.connect()

In [8]:
customer_df = pd.read_csv(f'{input_folder}/customers.csv')
customer_df.head()

   ID governorate  age               name  gender
0   1       Luxor   34  Nicholas Jacobson       1
1   2     Matrouh   61    Jasmine Barrera       0
2   3        Suez   56      Angela Taylor       0
3   4  New Valley   67    Suzanne Wallace       0
4   5       Luxor   52        Kevin Green       1

In [9]:
len(customer_df)

100000

In [10]:
products_df = pd.read_csv(f'{input_folder}/products.csv')

In [11]:
orders_uncomplete_df = pd.read_csv(f'{input_folder}/orders.csv')

In [12]:
suppliers_df = pd.read_csv(f'{input_folder}/suppliers.csv')

In [13]:
order_items_df = pd.read_csv(f'{input_folder}/order_items.csv')

In [14]:
ratings_df = pd.read_csv(f'{input_folder}/ratings.csv')

In [15]:
# Calculate the total price of an order
# Merge the product table with the order_item table
order_item_product = order_items_df.merge(products_df, right_on='ID', left_on='product_id', how='left')[['order_id', 'quantity', 'price']]
# Mulitply the price of the product with its quantity
order_item_product['order_time_price'] = order_item_product['price']*order_item_product['quantity']
# Sum the order-item's prices of the same order together 
order_item_product = order_item_product.groupby(['order_id']).agg({'order_time_price':'sum'}).rename(columns={'order_time_price':'total_price'}).reset_index()
orders_df = orders_uncomplete_df.merge(order_item_product, right_on='order_id', left_on='ID', how='outer').drop(['order_id'], axis=1)
# Set zero price for Orders with no order-items
orders_df['total_price'] = orders_df['total_price'].fillna(0)
orders_df.head()

      ID  customer_id        date  hour  total_price
0  24964        81036  2015-11-07    10          0.0
1  42224        22384  2013-08-07    10          0.0
2    620        85184  2020-03-31    23          0.0
3  41199        12346  2019-10-26     0          0.0
4  49982        52460  2013-07-23    18          0.0

In [19]:
customer_df.to_sql('customers', con=connection, if_exists='replace',index=False, method=None,dtype={
    'ID': sqlalchemy.types.Integer,
    'governorate': sqlalchemy.types.Enum('Alexandria', 'Aswan', 'Asyut', 'Beheira', 'Beni Suef', 'Cairo', 'Dakahlia', 'Damietta', 'Faiyum', 'Gharbia', 'Giza', 'Ismailia', 'Kafr El Sheikh', 'Luxor', 'Matruh', 'Minya', 'Monufia', 'New Valley', 'North Sinai', 'Port Said', 'Qalyubia', 'Qena', 'Red Sea', 'Sharqia', 'Sohag', 'South Sinai', 'Suez', 'Other'),
    'age': sqlalchemy.types.SmallInteger,
    'name': sqlalchemy.types.VARCHAR(100),
    'gender': sqlalchemy.types.BOOLEAN
})
products_df.to_sql('products', con=connection, if_exists='replace',index=False, method=None,dtype={
    'ID': sqlalchemy.types.Integer,
    'product_name': sqlalchemy.types.VARCHAR(100),
    'price': sqlalchemy.types.Float,
    'category': sqlalchemy.types.Integer,
    'supplier_id': sqlalchemy.types.Integer
    })
orders_df.to_sql('orders', con=connection, if_exists='replace',index=False, method=None,dtype={
    'ID': sqlalchemy.types.Integer,
    'customer_id': sqlalchemy.types.Integer,
    'ordered_at': sqlalchemy.types.DateTime, # concat date and time
    'total_price': sqlalchemy.types.Float  # sum of all order_item price in order
})
suppliers_df.to_sql('suppliers', con=connection, if_exists='replace',index=False, method=None,dtype={
    'ID': sqlalchemy.types.Integer,
    'name': sqlalchemy.types.VARCHAR(100) # need to specify that it is unique
})
order_items_df.to_sql('order_items', con=connection, if_exists='replace',index=False, method='multi', dtype={
    'order_id': sqlalchemy.types.Integer,
    'product_id': sqlalchemy.types.Integer,
    'quantity': sqlalchemy.types.SMALLINT # tiny int holds uptill 255 which is enough for a quantity 
})
ratings_df.to_sql('ratings', con=connection, if_exists='replace',index=False, method='multi', dtype={
    'product_id' : sqlalchemy.types.Integer,
    'customer_id' : sqlalchemy.types.Integer,
    'rating' : sqlalchemy.types.SMALLINT # holds uptill 0-255
                         # I am not sure would this work or not
})

ValueError: The type of ID is not a SQLAlchemy type

In [ ]:
"""
Tables definitions:

"""

In [ ]:
# adding the foreign keys
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (order_id) REFERENCES orders(ID);")
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (product_id) REFERENCES products(ID);")
connection.execute("ALTER TABLE products ADD FOREIGN KEY (supplier_id) REFERENCES suppliers(ID);")
connection.execute("ALTER TABLE orders ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (product_id) REFERENCES products(ID);")

# adding th primary keys
connection.execute("ALTER TABLE customers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE products ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE orders ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE suppliers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE order_items ADD PRIMARY KEY (order_id, product_id);")
connection.execute("ALTER TABLE ratings ADD PRIMARY KEY (customer_id, product_id);")


# adding unique constraints
connection.execute("ALTER TABLE products ADD UNIQUE (product_name);")
connection.execute("ALTER TABLE suppliers ADD UNIQUE (name);")

# closing the connection
connection.close()