This Notebook is a script that takes the csv datasets and load it into 
the MYSQL workbench realtions fot a database calles shoppingcart

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://root:cmp2023@localhost:3306/shoppingcart')
connection = engine.connect()

In [12]:
customer_df = pd.read_csv('./DataSets/customer.csv')
customer_df.head()

   ID governorate  age                  name  gender
0   1        Giza   52            Todd Oneal       0
1   2       Sohag   74  Mrs. Courtney Martin       0
2   3      Fayoum   57            John Stone       1
3   4   Qaliubiya   30      Jennifer Farrell       1
4   5     Matrouh   60           Daniel Hall       1

In [13]:
len(customer_df)

1000000

In [14]:
customer_df.to_sql('customer', con=connection, if_exists='replace',index=False, method='multi')

1000000

In [18]:
products_df = pd.read_csv("./DataSets/products.csv")
products_df.to_sql('products', con=connection, if_exists='replace',index=False, method='multi')

1000000

In [17]:
orders_df = pd.read_csv("./DataSets/orders.csv")
orders_df.to_sql('orders', con=connection, if_exists='replace',index=False, method='multi')

1000000

In [19]:
suppliers_df = pd.read_csv("./DataSets/suppliers.csv")
suppliers_df.to_sql('suppliers', con=connection, if_exists='replace',index=False, method='multi')

10000

In [20]:
order_items_df = pd.read_csv("./DataSets/order_items.csv")
order_items_df.to_sql('order_items', con=connection, if_exists='replace',index=False, method='multi')

1000000

In [22]:
ratings_df = pd.read_csv("./DataSets/ratings.csv")
ratings_df.to_sql('ratings', con=connection, if_exists='replace',index=False, method='multi')

1000000