This Notebook is a script that takes the csv datasets and load it into 
the MYSQL workbench realtions fot a database calles shoppingcart

In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
input_folder = 'data_100000'

In [17]:
engine = create_engine('mysql+pymysql://root:@localhost:3306/adb_nonopt_100k')
connection = engine.connect()

In [18]:
customer_df = pd.read_csv(f'./{input_folder}/customers.csv')
customer_df.head()

   ID governorate  age               name  gender
0   1       Luxor   34  Nicholas Jacobson       1
1   2     Matrouh   61    Jasmine Barrera       0
2   3        Suez   56      Angela Taylor       0
3   4  New Valley   67    Suzanne Wallace       0
4   5       Luxor   52        Kevin Green       1

In [19]:
len(customer_df)

100000

In [20]:
customer_df.to_sql('customers', con=connection, if_exists='replace',index=False, method=None)

100000

In [21]:
products_df = pd.read_csv(f'./{input_folder}/products.csv')
products_df.to_sql('products', con=connection, if_exists='replace',index=False, method=None)

100000

In [22]:
orders_df = pd.read_csv(f'./{input_folder}/orders.csv')
orders_df.to_sql('orders', con=connection, if_exists='replace',index=False, method=None)

100000

In [23]:
suppliers_df = pd.read_csv(f'./{input_folder}/suppliers.csv')
suppliers_df.to_sql('suppliers', con=connection, if_exists='replace',index=False, method=None)

100000

In [24]:
order_items_df = pd.read_csv(f'./{input_folder}/order_items.csv')
order_items_df.to_sql('order_items', con=connection, if_exists='replace',index=False, method=None)

100000

In [25]:
ratings_df = pd.read_csv(f'./{input_folder}/ratings.csv')
ratings_df.to_sql('ratings', con=connection, if_exists='replace',index=False, method=None)

100000

In [26]:
# adding th primary keys
connection.execute("ALTER TABLE customers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE products ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE orders ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE suppliers ADD PRIMARY KEY (ID);")
connection.execute("ALTER TABLE order_items ADD PRIMARY KEY (order_id, product_id);")
connection.execute("ALTER TABLE ratings ADD PRIMARY KEY (customer_id, product_id);")

# adding the foreign keys
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (order_id) REFERENCES orders(ID);")
connection.execute("ALTER TABLE order_items ADD FOREIGN KEY (product_id) REFERENCES products(ID);")
connection.execute("ALTER TABLE products ADD FOREIGN KEY (supplier_id) REFERENCES suppliers(ID);")
connection.execute("ALTER TABLE orders ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (customer_id) REFERENCES customers(ID);")
connection.execute("ALTER TABLE ratings ADD FOREIGN KEY (product_id) REFERENCES products(ID);")


# closing the connection
connection.close()